
.services__container{
    grid-template-columns: repeat(3,400px);
    justify-content: center;
    column-gap: 1.8rem;


}

.services__content{
    position: relative;
    border: 1px solid rgba(0,0,0,0.1);
    overflow: hidden;
    width: 25rem;

    @apply
    rounded-2xl
    shadow-2xl
    p-2
    /* bg-[#000319] */
    
}

.data__content{
    text-align: center;
}

.data__content img{
    width: 100%;
    height: 15rem;

    @apply
    rounded-t-2xl
}

.data__title{
    font-size: var(--font-semi-bold);
    font-weight: 600;
    color: rgb(0, 0, 0);
    margin-bottom: 1rem;
}

.data__body{
    @apply
    p-2

}

.data__tags{
   display: flex;
   gap: 1rem;
   margin-top: 1rem;
   justify-content: center;
   @apply
   font-bold
}

.tags{
    @apply
    text-black
    badge badge-accent
}


/* ================BREAKPOINTS======================== */

/* For Large Devices */

@media screen and (max-width: 1280px){
    .services__container{
        grid-template-columns: repeat(2,400px);
        justify-content: center;
        column-gap: 1.5rem;
    }
}

@media screen and (max-width: 992px){
    .services__container{
        grid-template-columns: repeat(1,400px);
        justify-content: center;
        column-gap: 1.8rem;
    }

    .service__backgroundeffect{
        display: none;
    }
}

/* For Medium Devices */
/* @media screen and (max-width: 768px){} */

@media screen and (max-width: 576px){
    .services__container{
        grid-template-columns: repeat(1,400px);
        justify-content: center;
        
    }
}

/* For Small Devices */
@media screen and (max-width: 420px){
    .services__container{
        grid-template-columns: repeat(1,300px);        
    }

    .services__content{
        width: 99%;
    }
}