.qualification__container{
    max-width: 768px;
}

.qualification__tabs{
    display: flex;
    justify-content: center;
    margin-bottom: var(--mb-2);
}

.qualification__button{
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
    margin: 0 var(--mb-1);
    cursor: pointer;
} 

.qualification__button:hover{
    color: var(--title-color-dark);
}

.qualification__icon{
    font-size: 1.8rem;
    margin-right: var(--mb-0-25);
}

.qualification__sections{
    display: flex;
    justify-content: center;
}

.qualification__content{
    border-left: solid 2px var(--text-color);  
    margin-bottom: 3rem;  
}

.qualification__data{
    margin: 0 0 1rem 5rem;
    padding: 1rem 0;
    border: 1px solid var rgba(0,0,0,1);
    background-color: var(--container-color);
    border-radius: 10px;
    width: 30rem;
    /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
}

.card__data{
    padding-left: 1rem;
    position: relative;
    top: -0.9rem;
    
}

.qualification__data::before{
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--text-color);
    position: relative;
    top: 25px;
    left: -92px;
}

.experence{
    position: relative;
    margin-top: 1rem;
}

.qualification__title{
    font-size: var(--normal-font-size);
}

.qualification__subtitle{
    font-size: var(--small-font-size);
}

.qualification__calender{
    font-size: var(--small-font-size);
}

/* ================BREAKPOINTS======================== */

/* For Large Devices */
/* @media screen and (max-width: 992px){ */
   

/* For Medium Devices */
@media screen and (max-width: 768px){
    .qualification__data{
        margin: 0 0 1rem 3rem;
        padding: 1rem 0;        
        width: 25rem;
        /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */
    }

    .qualification__data::before{
        width: 20px;
        height: 20px;        
        left: -59px;
    }
}

@media screen and (max-width: 576px){
    .qualification__data{
        margin: 0 0 1rem 2rem;  
        width: 20rem;      
    } 
    
    .qualification__data::before{
        
        width: 20px;
        height: 20px;        
        left: -43px;
    }
}   


/* For Small Devices */
@media screen and (max-width: 400px){
    .qualification__data{
        margin: 0 0 1rem 1rem;  
        width: 15rem;      
    } 

    .qualification__data::before{
        
        width: 20px;
        height: 20px;        
        left: -27px;
    }
}

