
.certificates__content{
    grid-template-columns: repeat(3,250px);
    column-gap: 3rem;
    justify-content: center;
} 

.certificate__item{
    text-align: center;
}

.certificate__item span{
    font-weight: bold;
    color: var(--text-color);
}

.certificate__item img{
    width: 20rem;
    height: 12rem;
    border: 1px solid #000;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.certificate__item img:hover{
    transform: scale(2);
}




/* ================BREAKPOINTS======================== */

/* For Large Devices */
@media screen and (max-width: 992px){
    .certificates__content{
        grid-template-columns: repeat(2,250px);
        column-gap: 3rem;
        justify-content: center;
    } 

    .certificates__backgroundeffect{
        display: none;
    }
}

/* For Medium Devices */
/* @media screen and (max-width: 768px){} */

@media screen and (max-width: 576px){
    .certificates__content{
        grid-template-columns: repeat(1,350px);
        column-gap: 3rem;
        justify-content: center;
    } 
}

/* For Small Devices */
@media screen and (max-width: 400px){
    .certificates__content{
        grid-template-columns: repeat(1,1fr);
        
    } 
}